/*MAISON.HTML*/
/*FOND*/
body {
    background-color: #6CA6E8;
}

/*DIV NAVIGATION*/
/*BASE*/
#navigation {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 13%;
    position: fixed;
    left: 0;
    top: 0;
}

#ColumnNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.positionNavigation {
    width: 10%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/*ICON HOME*/
#IconHome {
    width: 7.5rem;
    height: 7.5rem;
}

.positionMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.titleMenu {
    color: black;
}

#IconPlus {
    width: 50px;
    height: 50px;
}
.positionNew {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*DIV CONTENT*/
#Content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*DIV CELSIUS*/
#Celsius {

}

#Celsius > title {
    padding-left: 100rem;
    z-index: 1;
}